@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* dark shades of brand color*/
  --clr-brand-1: hsl(214, 28%, 12%);
  --clr-brand-2: hsl(214, 47%, 19%);
  --clr-brand-3: hsl(214, 58%, 29%);
  --clr-brand-4: hsl(214, 68%, 43%);
  /* brand/main color */
  --clr-brand-5: hsl(214, 72%, 53%);
  /* lighter shades of brand color */
  --clr-brand-6: hsl(214, 80%, 65%);
  --clr-brand-7: hsl(214, 86%, 77%);
  --clr-brand-8: hsl(214, 95%, 87%);
  --clr-brand-9: hsl(214, 98%, 90%);
  --clr-brand-10: hsl(214, 100%, 92%);

  /* dark shades of support color*/
  --clr-support-1: hsl(223, 29%, 10%);
  --clr-support-2: hsl(223, 45%, 15%);
  --clr-support-3: hsl(223, 63%, 25%);
  --clr-support-4: hsl(223, 73%, 34%);
  /* support color */
  --clr-support-5: hsl(223, 83%, 44%);
  /* lighter shades of support color */
  --clr-support-6: hsl(223, 80%, 65%);
  --clr-support-7: hsl(223, 85%, 66%);
  --clr-support-8: hsl(223, 96%, 67%);
  --clr-support-9: hsl(223, 97%, 79%);
  --clr-support-10: hsl(223, 100%, 92%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: box-content;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background: var(--clr-white);
}

img{
  display:block;
  width:auto;
}

header {
  background: url(./src/assets/rodrigo-abreu-lq9PxpwDZUk-unsplash.jpg)
    center/cover no-repeat;
  min-height: 100vh;
  /* width:100%; */
}

.logo {
  height: 80px;
  width: 80px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  cursor: pointer;
}

.toggle-btn {
  border: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.toggle-btn:hover {
  color: var(--clr-support-5);
  transition: all 0.3s linear;
}

nav {
  box-shadow: var(--light-shadow);
  background: var(--clr-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.links {
  list-style-type: none;
}

.links a {
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 1rem;
  color: var(--clr-grey-2);
  letter-spacing: 0.2rem;
}

li {
  margin-bottom: 2rem;
}
li a:hover {
  color: var(--clr-support-5);
  transition: all 0.3s linear;
  /* padding-left: 1rem; */
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.about {
  min-height: 80vh;
  background: var(--clr-brand-9);
  width: 100%;

  display: grid;
  place-items: center;
  margin-top:4rem;
}


.abt {
  max-width:100%;
 display:grid;
 gap:20px;
 grid-template-columns:1fr;
 padding:20px;
 margin:0 auto;

}

.abt .img { 
  max-width:100%;
  height:auto;
  border-radius:12px;
  dispay:block;
  margin-bottom:15px;
}


.abt p {
 font-size:20px;
 line-height:1.5;
 margin-bottom:0;
}

.about h1 {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--clr-support-5);
  text-decoration-thickness: 4px;
  margin-top:4rem;
}

.services {
  min-height: 100vh;
  background: var(--clr-white);
  display: grid;
  place-items: center;
  width: auto;
}

.services h1 {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--clr-support-5);
  text-decoration-thickness: 4px;
  margin-top:4rem;
}

.card-container {
  display: flex;
  gap:20px;
  justify-content: center;
  flex-wrap: wrap;
  padding:20px;
}

.card {
  overflow: hidden;
  border-radius: 12px;
  max-width: 500px;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  padding:20px;
}

.card img {
  max-width: 100%;
  height: auto;
  display:block;
  border-radius:8px;
}



.card-content h4 {
  margin-top:0;
  font-size: 28px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.card-content p {
  margin-top:0;
  font-size: 15px;
  line-height: 1.3;
  color: var(--clr-grey-6);
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--clr-support-5);
  margin-top: 16px;
  color: var(--clr-white);
  text-transform: capitalize;
}

.contacts {
  min-height: 50vh;
  max-width: 100%;
  background: var(--clr-support-9);
  display: grid;
  place-items: center;
  margin: 2rem;
  border-radius: 16px;
}

.icon {
  color: var(--clr-brand-9);
  margin-right: 16px;
  cursor: pointer;
}

.contact-details p {
  text-transform: capitalize;
  margin-top: 1rem;
}

.footer {
  text-transform: capitalize;
  text-align:center;
  margin-top:20px;
}

.navlinks {
  /* display:none; */
}

.contacts-section {
  margin-top: 12rem;
  margin-left: 8rem;
  flex:1 1 200px;
  padding:20px;
  border-radius:8px;
}


.contacts-title {
  text-align: center;
  margin-top:0;
  font-size:24px;
}

.image-contacts {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25rem;
  margin-left: 10rem;
}

.image-contacts img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* margin-top:-60rem;
  margin-left:10rem; */
  margin: auto;
  border-radius: 12px;
}

.input-container {
  /* position: relative; */
  margin-bottom: 2rem;
}

.input-container input,
.message-container textarea{
  width:100%;
  padding:10px;
}

.input-container input {
  width: 300px;
  padding: 20px;
  border: none;
  font-size: 20px;
}

.input-container input:focus {
  outline: none;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 20%;
  background-color: var(--clr-brand-5);
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
}

#myTextArea {
  width: 400px;
  height: 100px;
  border-radius: 4px;
  border-color: var(--clr-brand-5);
}

textarea::placeholder {
  padding: 1.5rem;
}

textarea:focus {
  outline: none;
}

.input-container input:focus + .underline {
  transform: scaleX(1);
}

.submitt-btn {
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--clr-brand-5);
  border-style: none;
  color: var(--clr-white);
  font-size: 20px;
  margin: 8px 16px;
  cursor: pointer;
}

.contacts-section-container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.contacts-footer-section {
  min-height: 50vh;
  max-width: 100%;
  background: var(--clr-support-9);
  margin: 2rem;
  border-radius: 16px;
  padding:2rem 0.5rem;
}
body,
html {
  overflow-x: hidden;
}



.contact-about,
.quick-links,
.contact-contact,
.contact-socials{
  /* display: flex; */
  /* flex-direction: column; */
  flex:1 1 auto;
  max-width:300px;
  padding:20px;
}

.contact-about h3,
.quick-links h3,
.contact-contact h3,
.contact-socials h3{
  margin-top:0;
  margin-bottom:10px;
}



/* .contact-links ul{
  list-style-type: none;
  
} */

.quick-links ul{
  list-style-type: none;
  /* padding:0; */
}

.quick-links ul li{
  margin-bottom:10px;
}

.contact-contact p{
  margin-bottom:10px;
  /* background:red; */
}

.contacts-container{
  /* margin-bottom:2rem;
   display: grid;
  place-items: center; */
  max-width:1200px;
  margin:0 auto;
  padding:0 20px;
}

.heading{
  font-size:24px;
  text-align:center;
  margin-bottom:20px;
}

.contact-details-section {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between
}

@media screen and (min-width: 801px) {
  .nav-center {
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
  }
  .toggle-btn {
    display: none;
  }
  .nav-header {
    padding: 0;
  }

  .links {
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links-container {
    height: auto !important;
  }
}

@media screen and (max-width: 768px) {
  /* header{
    min-height:40vh;
  }

  .nav-header{
    margin-left:4rem;
    margin-right:4rem;
  } */

  /* .contacts {
    max-width: 100%;
    width: 100%;
  } */
  /* .form-form-container{
    margin-left:-35rem;
    width:150px;
    padding-left:2rem;
    padding-right:4rem;
  }



  }

  .input-container{
    padding-left:-12rem;
  }


  .form-form-container{
    /* width:auto; */

    /* .contacts-footer-section{
      grid-template-columns:300px 1fr;
    } */
    .swiper-slide {
      flex-direction: column; /* Stack slides vertically on smaller screens */
    }
  
    .slide {
      max-width: 100%; /* Full width on smaller screens */
    }

    .contact-details-section {
      flex-direction: column; /* Stack sections vertically on smaller screens */
    }
  
    .contact-about,
    .quick-links,
    .contact-contact,
    .contact-socials {
      width: 100%; /* Full width for each section on smaller screens */
      margin-bottom: 10px; /* Space between sections */
    }

   
  }


  @media screen and (min-width: 768px){
    .abt{
      grid-template-columns:repeat(2,1fr);
    }
   
    
  }
.form-container{
  /* box-shadow:0 5px 15px rgba(0, 0, 0, 0.1); */
  margin-top:12rem;
  padding:1rem 2rem;
  width:400px;
  /* margin-left:40rem; */
  margin-inline:2rem;
  
}

.profile-div{
  margin-top:18rem;
  /* margin-left:40rem; */
  display:grid;
  place-items:center;
}

.profile-div h3{
  margin:8px;
  text-align:center;
}

.profile-details p{
  margin:8px;
}

#userdetails{
  color:var(--clr-support-8)
}

.logout-btn{
  border-radius:8px;
  padding:8px;
  margin-top:16px;
  color:var(--clr-white);
  background:var(--clr-brand-5);
  border:transparent;
  cursor:pointer;
  font-size:24px;
  width:316px;
}

.text{
  text-align:center;
}

.input{
  display:flex;
  flex-direction:column;
  margin-top:16px;
}

.input input{
  border:1px solid grey;
  border-radius:8px;
  padding:8px;
  font-size:16px;
  width:300px;
}

.input input:focus{
  outline:none;
}

.input label{
  font-size:20px;
}

.submit-btn{
  border-radius:8px;
  padding:8px;
  margin-top:16px;
  color:var(--clr-white);
  background:var(--clr-brand-5);
  border:transparent;
  cursor:pointer;
  font-size:24px;
  width:316px;
}

.forgot-password{
  margin-top:16px;
  font-size:16px;
  text-align:center;
}

.google-p{
  font-size:16px;
  margin-left:20px;
  margin-top:16px;
}

.google-photo{
  width:316px;
  height:70px;
  margin-top:16px;
  cursor:pointer;
}
.container{
height:100vh;
justify-content:center;
align-items:center;
display:flex;
background-color:#e3f2fd;
}

.testimonials{
  position:relative;
  max-width:900px;
  /* max-width:100%; */
  /* background-color:#fff; */
  /* padding:50px 0; */
  overflow:hidden;
}

.mySwiper{
  max-width:100%;
  padding-bottom:20px;
}

.testimonials h1{
  text-align:center;
  margin-bottom:3rem;
  margin-top:0;
}

.swiper-slide{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  /* background:red; */
}

.slide{
  max-width:400px;
  padding:20px;
  margin:0 auto;
  border-radius:8px;
}

.slide img{
 display:block;
 margin:0 auto;
}

.slide p{
  padding:0 40px;
  text-align:center;
  font-size:14px;
  font-weight:500;
  color:#333;
}

.name{
  font-size:14px;
  font-weight:600;
  color:#333;

}

.job{
  font-size:12px;
  font-weight:400;
  color:#333;
  /* margin-top:-4rem; */

}

.quote{
  font-size:30px;
  color:var(--clr-brand-5)
}

.name-jobs{
  display:flex;
  flex-direction:column;
  margin-bottom:3rem;
  text-align:center;
  align-items:center;
}

/* .contacts-footer-section .heading{
  margin-top:2rem;
  margin-bottom:2rem;
} */

/* .quick-links .contact-links li{
  text-decoration:none;
} */